<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-hover" id="departmentsTable">
        <thead>
            <tr>
                <th scope="col">channel_name</th>
                <th scope="col">url</th>
                <th scope="col">Description</th>
                <th scope="col">Channel_id</th>
                <th scope="col">Detect Language</th>
                
                <th scope="col">category</th>
                <th scope="col">subscribers</th>
                <th scope="col">videos</th>
                <th scope="col">views</th>
            </tr>
        </thead>
        <tbody>
            </table>
            
</body>
</html>